@{
    ViewBag.Title = "Home Page";
}

@*<style>

    .slide {
        position: relative;
        margin: auto;
        width: 1000px;
        height: 280px;
        text-align: center;
        font-family: Arial;
        color: #FFF;
        overflow: hidden;
    }

        .slide ul {
            margin: 10px 0;
            padding: 0;
            width: 9999px;
            transition: all 0.5s;
        }

        /*//自动播放*/
        .slide .slide-auto {
            animation: marginLeft 10.5s infinite;
        }

        .slide li {
            float: left;
            width: 1000px;
            height: 280px;
            list-style: none;
            line-height: 280px;
            font-size: 36px;
        }


    @@keyframes marginLeft {
        0% {
            margin-left: 0;
        }

        28.5% {
            margin-left: 0;
        }

        33.3% {
            margin-left: -1000px;
        }

        62% {
            margin-left: -1000px;
        }

        66.7% {
            margin-left: -2000px;
        }

        95.2% {
            margin-left: -2000px;
        }

        100% {
            margin-left: 0;
        }
    }
</style>

<div class="slide">
    <ul class="slide-auto">
        <li><a href="http://www.baidu.com"> <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/325-2.jpg" height="250" width="900" /></a></li>
        <li><a href="http://www.baidu.com"> <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/325-2.jpg" height="250" width="900" /></a></li>
        <li><a href="http://www.baidu.com"> <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/325-2.jpg" height="250" width="900" /></a></li>
    </ul>
</div>*@

<div class="recommend" style="padding-top:20px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="post post-style-feature">
                    <a class="post-img img-response" href="../Home/AllProduct" style="background-image: url(http://www.zixuexia.com/wp-content/uploads/2019/01/325-2.jpg)">
                        <ul class="post-meta p-2 post-meta-bottom transition">
                            <li class="post-time">
                                <i class="czs-time-l"></i>
                                2019.01.04
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye-l"></i> 1008
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment-l"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart-l"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </a>
                    <div class="post-title mt-2">
                        <a href="http://www.zixuexia.com/archives/1001"> 系列课程目录 </a>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="post post-style-feature">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/1045" style="background-image: url(http://www.zixuexia.com/wp-content/uploads/2019/01/326-1.jpg)">
                        <ul class="post-meta p-2 post-meta-bottom transition">
                            <li class="post-time">
                                <i class="czs-time-l"></i>
                                2019.01.04
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye-l"></i> 1932
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment-l"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart-l"></i>
                                <span class="count">
                                    9
                                </span>
                            </li>
                        </ul>
                    </a>
                    <div class="post-title mt-2">
                        <a href="http://www.zixuexia.com/archives/1045"> 加入会员全部免费 </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-wrap mb-6">
    <div class="container ps-r">
        <ul class="category-nav pr-6">
            <li>
                <a class="active" href="" data-type="all"> 全部 </a>
            </li>
            <li>
                <a>
                    关于我们
                </a>
            </li>
            <li>
                <a>
                    联系我们
                </a>
            </li>
        </ul>
        @*<div class="layout-type-wrap ps-a hidden-xs">
                <a class="btn-layout-type p-4">
                    <i class="czs-layout-grid"></i>
                </a>
                <div class="layout-type ps-a px-1">
                    <ul>
                        <li data-type="three" class="p-2 ">3</li>
                        <li data-type="four" class="p-2 active">4</li>
                    </ul>
                </div>
            </div>*@
    </div>
</div>

<main class="container" id="main">
    <div class="row">
        <div class="post-wrap">
            @{
                var hotProductList = ViewBag.HotProductList;
                foreach (var productDetail in hotProductList)
                {
                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-3">
                        <div class="post post-style-card transition">
                            <a class="post-img img-response" href="../Product/ProductDetail?productid=@productDetail.ProductID" style="background-image: url(@productDetail.HeaderImageUrl)">
                            </a>
                            <div class="post-top">
                                <div class="post-title mb-1">
                                    <a href="../Product/ProductDetail?productid=@productDetail.ProductID"> @productDetail.ProductTitle </a>
                                </div>
                                <div class="post-top-meta mb-3">
                                    <a class="post-category" href="../Category/Index?bcategoryid=@productDetail.BCategoryID">
                                        @productDetail.BCategoryName
                                    </a>
                                    <span class="post-time">
                                        @productDetail.UpdateTime
                                    </span>
                                </div>
                            </div>
                            <div class="p-3">
                                <ul class="post-meta-bottom">
                                    <li class="post-meta-author">
                                        <a class="d-block" href="http://localhost:9016/" target="_blank">
                                            <img src="http://localhost:9017/others/xqw_circle_logo.png" class="avatar avatar-96" height="96" width="96">
                                            <span class="d-inline-block">小青蛙商学院</span>
                                        </a>
                                    </li>
                                    <li class="post-meta-view pull-right">
                                        <i class="czs-eye"></i> @productDetail.LikeCount
                                    </li>
                                    <li class="post-meta-comments pull-right">
                                        <i class="czs-comment"></i> @productDetail.CommentCount
                                    </li>
                                    <li class="post-meta-like pull-right">
                                        <i class="czs-heart"></i>
                                        <span class="count">
                                            @productDetail.SeenCount
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
        @*<div class="pagination px-3 pagination-number">
                <a href="http://www.zixuexia.com/" class="current pagination-num">1</a><a href="http://www.zixuexia.com/page/2" class="pagination-num">2</a><a href="http://www.zixuexia.com/page/3" class="pagination-num">3</a><a href="http://www.zixuexia.com/page/4" class="pagination-num">4</a><a href="http://www.zixuexia.com/page/5" class="pagination-num">5</a><a href="http://www.zixuexia.com/page/6" class="pagination-num">6</a><a href="http://www.zixuexia.com/page/2" class="pagination-num"><i class="czs-angle-right-l"></i></a>
            </div>*@
    </div>
    @*<div class="friend-link p-3 mt-6" style="padding-bottom:33px">
            <strong class="pull-left mr-3">友情链接<span class="hidden-xs">：</span></strong>
        </div>*@
</main>
