@{
    ViewBag.Title = "Home Page";
}

<div class="carousel-wrap">
    <div class="container no-gutter-xs">
        <div id="carousel" class="owl-carousel owl-theme owl-loaded hover">
            <!-- customize carousel-->
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-4600px, 0px, 0px); transition: all 0s ease 0s; width: 8050px;">
                    <div class="owl-item cloned" style="width: 1150px; margin-right: 0px;">
                        <a class="carousel-item" target="blank" href="" title="." rel="carousel">
                            <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/324.jpg" alt=".">
                            <div class="carousel-info vertical-middle ">
                                <div class="carousel-info-title">
                                    .
                                </div>
                            </div>
                            <div class="carousel-overlay" style="opacity: 0.1;"></div>
                        </a>
                    </div>
                    <div class="owl-item cloned animated owl-animated-in fadeIn" style="width: 1150px; margin-right: 0px;">
                        <a class="carousel-item" target="blank" href="" title="." rel="carousel">
                            <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/321-2.jpg" alt=".">
                            <div class="carousel-info vertical-middle ">
                                <div class="carousel-info-title">
                                    .
                                </div>
                            </div>
                            <div class="carousel-overlay" style="opacity: 0.1;"></div>
                        </a>
                    </div>
                    <div class="owl-item active" style="width: 1150px; margin-right: 0px;">
                        <a class="carousel-item" target="blank" href="" title="." rel="carousel">
                            <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/322-1.jpg" alt=".">
                            <div class="carousel-info vertical-middle ">
                                <div class="carousel-info-title">
                                    .
                                </div>
                            </div>
                            <div class="carousel-overlay" style="opacity: 0.1;"></div>
                        </a>
                    </div>
                    <div class="owl-item animated owl-animated-in fadeIn owl-animated-out fadeOut" style="width: 1150px; margin-right: 0px; left: 1150px;">
                        <a class="carousel-item" target="blank" href="" title="." rel="carousel">
                            <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/324.jpg" alt=".">
                            <div class="carousel-info vertical-middle ">
                                <div class="carousel-info-title">
                                    .
                                </div>
                            </div>
                            <div class="carousel-overlay" style="opacity: 0.1;"></div>
                        </a>
                    </div>
                    <div class="owl-item animated owl-animated-in fadeIn active" style="width: 1150px; margin-right: 0px;">
                        <a class="carousel-item" target="blank" href="" title="." rel="carousel">
                            <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/321-2.jpg" alt=".">
                            <div class="carousel-info vertical-middle ">
                                <div class="carousel-info-title">
                                    .
                                </div>
                            </div>
                            <div class="carousel-overlay" style="opacity: 0.1;"></div>
                        </a>
                    </div>
                    <div class="owl-item cloned animated owl-animated-in fadeIn" style="width: 1150px; margin-right: 0px;">
                        <a class="carousel-item" target="blank" href="" title="." rel="carousel">
                            <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/322-1.jpg" alt=".">
                            <div class="carousel-info vertical-middle ">
                                <div class="carousel-info-title">
                                    .
                                </div>
                            </div>
                            <div class="carousel-overlay" style="opacity: 0.1;"></div>
                        </a>
                    </div>
                    <div class="owl-item cloned" style="width: 1150px; margin-right: 0px;">
                        <a class="carousel-item" target="blank" href="" title="." rel="carousel">
                            <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/324.jpg" alt=".">
                            <div class="carousel-info vertical-middle ">
                                <div class="carousel-info-title">
                                    .
                                </div>
                            </div>
                            <div class="carousel-overlay" style="opacity: 0.1;"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="owl-controls">
                <div class="owl-nav">
                    <div class="owl-prev transition owl-prev-animation" style="">
                        <i class="czs-angle-left-l"></i>
                    </div>
                    <div class="owl-next transition owl-next-animation" style="">
                        <i class="czs-angle-right-l"></i>
                    </div>
                </div>
                <div class="owl-dots" style="">
                    <div class="owl-dot active">
                        <span>
                        </span>
                    </div>
                    <div class="owl-dot">
                        <span>
                        </span>
                    </div>
                    <div class="owl-dot">
                        <span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shot mb-6">
    <div class="container">
        <div class="row shot-wrap">
            <ul class="shot-type">
                <li class="" data-type="hot">热门</li>
                <li class="active" data-type="latest">最新</li>
                <li class="" data-type="hot-comment">热评</li>
            </ul>
        </div>
    </div>
</div>

<div class="recommend">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="post post-style-feature">
                    <a class="post-img img-response" href="../Home/AllProduct" style="background-image: url(http://www.zixuexia.com/wp-content/uploads/2019/01/325-2.jpg)">
                        <ul class="post-meta p-2 post-meta-bottom transition">
                            <li class="post-time">
                                <i class="czs-time-l"></i>
                                2019.01.04
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye-l"></i> 1008
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment-l"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart-l"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </a>
                    <div class="post-title mt-2">
                        <a href="http://www.zixuexia.com/archives/1001"> 系列课程目录 </a>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="post post-style-feature">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/1045" style="background-image: url(http://www.zixuexia.com/wp-content/uploads/2019/01/326-1.jpg)">
                        <ul class="post-meta p-2 post-meta-bottom transition">
                            <li class="post-time">
                                <i class="czs-time-l"></i>
                                2019.01.04
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye-l"></i> 1932
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment-l"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart-l"></i>
                                <span class="count">
                                    9
                                </span>
                            </li>
                        </ul>
                    </a>
                    <div class="post-title mt-2">
                        <a href="http://www.zixuexia.com/archives/1045"> 加入会员全部免费 </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-wrap mb-6">
    <div class="container ps-r">
        <ul class="category-nav pr-6">
            <li>
                <a class="active" href="" data-type="all"> 全部 </a>
            </li>
            <li>
                <a class="" href="http://www.zixuexia.com" data-type="%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac">
                    关于我们
                </a>
            </li>
            <li>
                <a class="" href="http://www.zixuexia.com" data-type="%e8%81%94%e7%b3%bb%e6%88%91%e4%bb%ac">
                    联系我们
                </a>
            </li>
        </ul>
        <div class="layout-type-wrap ps-a hidden-xs">
            <a class="btn-layout-type p-4">
                <i class="czs-layout-grid"></i>
            </a>
            <div class="layout-type ps-a px-1">
                <ul>
                    <li data-type="three" class="p-2 ">3</li>
                    <li data-type="four" class="p-2 active">4</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<main class="container" id="main">
    <div class="row">
        <div class="post-wrap">
            @{
                var hotProductList = ViewBag.HotProductList;
                foreach (var productDetail in hotProductList)
                {
                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-3">
                        <div class="post post-style-card transition">
                            <a class="post-img img-response" href=" http://www.zixuexia.com/archives/1057" style="background-image: url(http://www.zixuexia.com/wp-content/uploads/2019/01/343.jpg)">
                            </a>
                            <div class="post-top">
                                <div class="post-title mb-1">
                                    <a href="http://www.zixuexia.com/archives/1057"> @productDetail.ProductTitle </a>
                                </div>
                                <div class="post-top-meta mb-3">
                                    <a class="post-category" href="http://www.zixuexia.com/catalogs/%e5%8a%9f%e8%83%bd%e8%8f%9c%e5%8d%95/%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac">
                                        @productDetail.ProductName
                                    </a>
                                    <span class="post-time">
                                        @productDetail.UpdateTime
                                    </span>
                                </div>
                            </div>
                            <div class="p-3">
                                <ul class="post-meta-bottom">
                                    <li class="post-meta-author">
                                        <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                            <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">小青蛙商学院</span>
                                        </a>
                                    </li>
                                    <li class="post-meta-view pull-right">
                                        <i class="czs-eye"></i> @productDetail.LikeCount
                                    </li>
                                    <li class="post-meta-comments pull-right">
                                        <i class="czs-comment"></i> @productDetail.CommentCount
                                    </li>
                                    <li class="post-meta-like pull-right">
                                        <i class="czs-heart"></i>
                                        <span class="count">
                                            @productDetail.SeenCount
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
        <div class="pagination px-3 pagination-number">
            <a href="http://www.zixuexia.com/" class="current pagination-num">1</a><a href="http://www.zixuexia.com/page/2" class="pagination-num">2</a><a href="http://www.zixuexia.com/page/3" class="pagination-num">3</a><a href="http://www.zixuexia.com/page/4" class="pagination-num">4</a><a href="http://www.zixuexia.com/page/5" class="pagination-num">5</a><a href="http://www.zixuexia.com/page/6" class="pagination-num">6</a><a href="http://www.zixuexia.com/page/2" class="pagination-num"><i class="czs-angle-right-l"></i></a>
        </div>
    </div>
    <div class="friend-link p-3 mt-6">
        <strong class="pull-left mr-3">友情链接<span class="hidden-xs">：</span></strong>
    </div>
</main>
