@{
    ViewBag.Title = "小青蛙商学院";
}

<div class="recommend" style="padding-top:20px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="post post-style-feature">
                    <a class="post-img img-response home_about" href="../Home/AboutUs" style="background-image: url()">
                        <ul class="post-meta p-2 post-meta-bottom transition">
                            <li class="post-time">
                                <i class="czs-time-l"></i>
                                2020.05.25 最新更新
                            </li>
                        </ul>
                    </a>
                    <div class="post-title mt-2 home_about">
                        <a href="../Home/AboutUs"> 全部课程目录 </a>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="post post-style-feature">
                    <a class="post-img img-response home_vip" href="../Home/VIP" style="background-image: url()">
                        <ul class="post-meta p-2 post-meta-bottom transition">
                            <li class="post-time">
                                <i class="czs-time-l"></i>
                                2020.05.25 最新更新
                            </li>
                        </ul>
                    </a>
                    <div class="post-title mt-2 home_vip">
                        <a href="../Home/VIP"> 加入会员，全部免费 </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-wrap mb-6">
    <div class="container ps-r">
        <ul class="category-nav pr-6">
            <li>
                <a class="active" data-type="all"> 热门商品 </a>
            </li>
        </ul>
    </div>
</div>

<main class="container" id="main">
    <div class="row">
        <div class="post-wrap">
            @{
                var hotProductList = ViewBag.HotProductList;
                foreach (var productDetail in hotProductList)
                {
                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-3">
                        <div class="post post-style-card transition">
                            <a class="post-img img-response home_hotproduct" data-pid="@productDetail.ProductID" href="../Product/ProductDetail?productid=@productDetail.ProductID" style="background-image: url(@productDetail.HeaderImageUrl)">
                            </a>
                            <div class="post-top">
                                <div class="post-title mb-1">
                                    <a class="home_hotproduct" data-pid="@productDetail.ProductID" href="../Product/ProductDetail?productid=@productDetail.ProductID"> @productDetail.ProductTitle </a>
                                </div>
                                <div class="post-top-meta mb-3">
                                    <a class="post-category home_cate" data-catename="@productDetail.BCategoryName" href="../Category/Index?bcategoryid=@productDetail.BCategoryID">
                                        @productDetail.BCategoryName
                                    </a>
                                    <span class="post-time">
                                        @productDetail.UpdateTime
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $(".home_about").click(function () {
            debugger;
            saveClickLog(1101);
         });

         $(".home_vip").click(function () {
            saveClickLog(1102);
         });

        $(".home_hotproduct").click(function () {
            saveClickLog(1103, this.dataset.pid);
        });

        $(".home_cate").click(function () {
            saveClickLog(1104, this.dataset.catename);
        });
    });
</script>