@{
    ViewBag.Title = "Home Page";
}

<div class="recommend" style="padding-top:20px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="post post-style-feature">
                    <a class="post-img img-response" href="http://localhost:9001/Home/AboutUs" style="background-image: url(http://www.zixuexia.com/wp-content/uploads/2019/01/325-2.jpg)">
                        <ul class="post-meta p-2 post-meta-bottom transition">
                            <li class="post-time">
                                <i class="czs-time-l"></i>
                                2020.05.25 最新更新
                            </li>
                            @*<li class="post-meta-view pull-right">
                                <i class="czs-eye-l"></i> 1008
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart-l"></i>
                                <span class="count">
                                    230
                                </span>
                            </li>*@
                        </ul>
                    </a>
                    <div class="post-title mt-2">
                        <a href="http://localhost:9001/Home/AboutUs"> 全部课程目录 </a>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="post post-style-feature">
                    <a class="post-img img-response" href="http://localhost:9001/Home/VIP" style="background-image: url(http://www.zixuexia.com/wp-content/uploads/2019/01/326-1.jpg)">
                        <ul class="post-meta p-2 post-meta-bottom transition">
                            <li class="post-time">
                                <i class="czs-time-l"></i>
                                2020.05.25 最新更新
                            </li>
                            @*<li class="post-meta-view pull-right">
                                <i class="czs-eye-l"></i> 988
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart-l"></i>
                                <span class="count">
                                    211
                                </span>
                            </li>*@
                        </ul>
                    </a>
                    <div class="post-title mt-2">
                        <a href="http://localhost:9001/Home/VIP"> 加入会员，全部免费 </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-wrap mb-6">
    <div class="container ps-r">
        <ul class="category-nav pr-6">
            <li>
                <a class="active" href="" data-type="all"> 热门商品 </a>
            </li>
        </ul>
    </div>
</div>

<main class="container" id="main">
    <div class="row">
        <div class="post-wrap">
            @{
                var hotProductList = ViewBag.HotProductList;
                foreach (var productDetail in hotProductList)
                {
                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-3">
                        <div class="post post-style-card transition">
                            <a class="post-img img-response" href="../Product/ProductDetail?productid=@productDetail.ProductID" style="background-image: url(@productDetail.HeaderImageUrl)">
                            </a>
                            <div class="post-top">
                                <div class="post-title mb-1">
                                    <a href="../Product/ProductDetail?productid=@productDetail.ProductID"> @productDetail.ProductTitle </a>
                                </div>
                                <div class="post-top-meta mb-3">
                                    <a class="post-category" href="../Category/Index?bcategoryid=@productDetail.BCategoryID">
                                        @productDetail.BCategoryName
                                    </a>
                                    <span class="post-time">
                                        @productDetail.UpdateTime
                                    </span>
                                </div>
                            </div>
                            @*<div class="p-3">
                                <ul class="post-meta-bottom">
                                    <li class="post-meta-author">
                                        <a class="d-block" href="http://localhost:9001/" target="_blank">
                                            <img src="http://localhost:9017/others/xqw_circle_logo.png" class="avatar avatar-96" height="96" width="96">
                                            <span class="d-inline-block">小青蛙商学院</span>
                                        </a>
                                    </li>
                                    <li class="post-meta-view pull-right">
                                        <i class="czs-eye"></i> @productDetail.LikeCount
                                    </li>
                                    <li class="post-meta-comments pull-right">
                                        <i class="czs-comment"></i> @productDetail.CommentCount
                                    </li>
                                    <li class="post-meta-like pull-right">
                                        <i class="czs-heart"></i>
                                        <span class="count">
                                            @productDetail.SeenCount
                                        </span>
                                    </li>
                                </ul>
                            </div>*@
                        </div>
                    </div>

                }
            }
        </div>
        @*<div class="pagination px-3 pagination-number">
                <a href="http://www.zixuexia.com/" class="current pagination-num">1</a><a href="http://www.zixuexia.com/page/2" class="pagination-num">2</a><a href="http://www.zixuexia.com/page/3" class="pagination-num">3</a><a href="http://www.zixuexia.com/page/4" class="pagination-num">4</a><a href="http://www.zixuexia.com/page/5" class="pagination-num">5</a><a href="http://www.zixuexia.com/page/6" class="pagination-num">6</a><a href="http://www.zixuexia.com/page/2" class="pagination-num"><i class="czs-angle-right-l"></i></a>
            </div>*@
    </div>
    @*<div class="friend-link p-3 mt-6" style="padding-bottom:33px">
            <strong class="pull-left mr-3">友情链接<span class="hidden-xs">：</span></strong>
        </div>*@
</main>
