
@{
    ViewBag.Title = @ViewBag.BCategoryName;
}


@*<div class="category-child py-3 hidden-md">
    <div class="container">
        <ul>
            @{
                var isAllActiveclass = ViewBag.IsAllActive ? "active" : "";
                <li class="d-inline-block">
                    <a class="d-block @isAllActiveclass cate_all" data-acateid="@ViewBag.ACategoryID"
                       href="../Category/Index?acategoryid=@ViewBag.ACategoryID">全部</a>
                </li>

                var CategoryList = ViewBag.CategoryList;
                foreach (var category in CategoryList)
                {
                    var activeclass = ViewBag.BcategoryID == category.BCategoryID ? "active" : "";
                    <li class="d-inline-block">
                        <a class="d-block @activeclass cate_bcateall" data-bcatename="@category.BCategoryName"
                           href="../Category/Index?acategoryid=@ViewBag.ACategoryID&bcategoryid=@category.BCategoryID">
                            <i class=""></i>
                            @category.BCategoryName
                        </a>
                    </li>
                }
            }
        </ul>
        <ul class="pt-6 mt-4 category-child-all hidden"></ul>
    </div>
</div>*@

<div class="page-category mt-6">
    <main class="container">
        <div class="row">
            <div class="post-wrap">
                @{
                    var productList = ViewBag.ProductList;
                    foreach (var productDetail in productList)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="post post-style-card transition" title="@productDetail.ProductName">
                                <a class="post-img img-response cate_product" data-pid="@productDetail.ProductID"
                                   href="../Product/ProductDetail?productid=@productDetail.ProductID"
                                   style="background-image: url(@productDetail.HeaderImageUrl)">
                                </a>
                                <div class="post-top">
                                    <div class="post-title mb-1">
                                        <a class="cate_product"  data-pid="@productDetail.ProductID" href="../Product/ProductDetail?productid=@productDetail.ProductID">
                                            @productDetail.ProductName
                                        </a>
                                    </div>
                                    <div class="post-top-meta mb-3">
                                        <span class="post-tag">
                                            <a class="cate_bcate" data-catename="@productDetail.BCategoryName" href="../Category/Index?acategoryid=@productDetail.ACategoryID&bcategoryid=@productDetail.BCategoryID">
                                                @productDetail.BCategoryName
                                            </a>
                                        </span>
                                        <span class="post-time">
                                            @productDetail.UpdateTime.ToString("yyyy-MM-dd")
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </main>
</div>

<script>
    $(document).ready(function () {

        $(".cate_all").click(function () {
            saveClickLog(1301, this.dataset.acateid);
        });

        $(".cate_bcateall").click(function () {
            saveClickLog(1302, this.dataset.bcatename);
        });

        $(".cate_product").click(function () {
            saveClickLog(1303, this.dataset.pid);
        });

        $(".cate_bcate").click(function () {
            saveClickLog(1304, this.dataset.catename);
        });
    });
</script>