
@{
    ViewBag.Title = @ViewBag.BCategoryName;
}

<div class="category-child py-3 hidden-md">
    <div class="container">
        <ul>
            @{
                var isAllActiveclass = ViewBag.IsAllActive ? "active" : "";
                <li class="d-inline-block">
                    <a class="d-block @isAllActiveclass"
                       href="../Category/Index?acategoryid=@ViewBag.ACategoryID">全部</a>
                </li>

                var CategoryList = ViewBag.CategoryList;
                foreach (var category in CategoryList)
                {
                    var activeclass = ViewBag.BcategoryID == category.BCategoryID ? "active" : "";
                    <li class="d-inline-block">
                        <a class="d-block @activeclass"
                           href="../Category/Index?acategoryid=@ViewBag.ACategoryID&bcategoryid=@category.BCategoryID">
                            <i class=""></i>
                            @category.BCategoryName
                        </a>
                    </li>
                }
            }
        </ul>
        <ul class="pt-6 mt-4 category-child-all hidden">
        </ul>
    </div>
</div>


<div class="page-category mt-6">
    <main class="container">
        <div class="row">
            <div class="post-wrap">
                @{
                    var productList = ViewBag.ProductList;
                    foreach (var productDetail in productList)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="post post-style-card transition">
                                <a class="post-img img-response"
                                   href="../Product/ProductDetail?productid=@productDetail.ProductID"
                                   style="background-image: url(@productDetail.HeaderImageUrl)">
                                </a>
                                <div class="post-top">
                                    <div class="post-title mb-1">
                                        <a href="../Product/ProductDetail?productid=@productDetail.ProductID">
                                            @productDetail.ProductName
                                        </a>
                                    </div>
                                    <div class="post-top-meta mb-3">
                                        <span class="post-tag">
                                            <a href="../Category/Index?bcategoryid=@productDetail.BCategoryID">
                                                @productDetail.BCategoryName
                                            </a>
                                        </span>
                                        <span class="post-time">
                                            @productDetail.UpdateTime.ToString("yyyy-MM-dd")
                                        </span>
                                    </div>
                                </div>
                                <div class="p-3">
                                    <ul class="post-meta-bottom">
                                        <li class="post-meta-author">
                                            <a class="d-block" href="../" target="_blank">
                                                <img src="http://localhost:9017/others/xqw_circle_logo.png" class="avatar avatar-96" height="96" width="96">
                                                <span class="d-inline-block">小青蛙商学院</span>
                                            </a>
                                        </li>
                                        <li class="post-meta-view pull-right">
                                            <i class="czs-eye"></i> @productDetail.SeenCount
                                        </li>
                                        <li class="post-meta-comments pull-right">
                                            <i class="czs-comment"></i> @productDetail.CommentCount
                                        </li>
                                        <li class="post-meta-like pull-right">
                                            <i class="czs-heart"></i>
                                            <span class="count">
                                                @productDetail.LikeCount
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
            <div class="pagination px-3 pagination-number">
            </div>
        </div>
    </main>
</div>
