<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="自学,教程,视频教程">
    <meta name="description" content="小青蛙商学院，国内自学视频教程平台。提供各种入门教程，范围包括：电商|社交|推广，平面|影视|三维|网站，音乐|美术|摄影，运动|健身|舞蹈，外语|办公|职业，化妆|形象|饮食，生活|维修|宠物|手工|母婴等">
    <title>小青蛙商学院-自学视频教程平台</title>
    @*<link rel="shortcut icon" href="http://www.zixuexia.com/wp-content/themes/BlackMirror/assets/images/favicon.ico" type="image/x-icon">*@
    @*<link rel="apple-touch-icon-precomposed" href="http://www.zixuexia.com/wp-content/themes/BlackMirror/assets/images/logo_mobile.png">*@
    @*<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.zixuexia.com/wp-content/themes/BlackMirror/assets/images/logo_mobile.png">*@
    @*<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.zixuexia.com/wp-content/themes/BlackMirror/assets/images/logo_mobile.png">*@
    @*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.zixuexia.com/wp-content/themes/BlackMirror/assets/images/logo_mobile.png">*@
    @*<link rel="apple-touch-icon-precomposed" sizes="180x180" href="http://www.zixuexia.com/wp-content/themes/BlackMirror/assets/images/logo_mobile.png">*@
    <link rel="dns-prefetch" href="//apps.bdimg.com">
    <link rel="dns-prefetch" href="//cdn.bootcss.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="小青蛙商学院 » 电商分类目录Feed" href="http://www.zixuexia.com/catalogs/1%e7%94%b5%e5%95%86%e7%a4%be%e4%ba%a4%e6%8e%a8%e5%b9%bf/%e7%94%b5%e5%95%86/feed">
    <link rel="stylesheet" id="style-css" href="~/Content/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="owlcss-css" href="~/Content/css/owl.carousel.min.css?ver=1.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="PrismCss-css" href="~/Content/css/prism.css?ver=1.5.0" type="text/css" media="all">
    <link rel="stylesheet" id="FancyboxCss-css" href="~/Content/css/jquery.fancybox.min.css" type="text/css" media="all">

    <style type="text/css">
        .friend-link li a:hover, .custom-carousel, .custom-carousel .owl-prev, .custom-carousel .owl-next, .site-record:hover, .post .post-title a:hover, #footer .footer-friends li a span:hover, #footer .footer-feature .footer-menu li a:hover, .widget-hotpost a:hover, .article-body a, .comments .comments-list .comment .comment-body .comment-user a, .comments .comments-list .comment .children .comment-user a, #comment-nav-below .nav-inside .current, .widget-hotpost-brief i, .archive-header .archive-header-title {
            color: #38B7EA;
        }

        .article-like .favorite, .carousel-info-meta .carousel-info-category, .tagcloud a:hover, .calendar_wrap table td a, .article-meta .article-meta-tags a, .article-support .article-support-button a, .comments #respond .form-submit input {
            background-color: #38B7EA;
        }

        .article-body h2, .article-body h3 {
            border-left: 5px solid #38B7EA;
        }

        .article-like .done {
            border: 1px solid #38B7EA;
        }

        .page-category-img:after {
            background: #666;
            opacity: 1;
        }

        .admin-login a:hover {
            background-color: #38B7EA;
        }

        .article-like .favorite {
            box-shadow: 0 1px 10px #38B7EA;
        }
    </style>
    <script>
        var carouselSwitcher = "1";
        var carouselOpacity = "10";
        var carouselAnimation = "slide";
        var carouselMouseSwitcher = "1";
        var siteUrl = "http://www.zixuexia.com";
        var imgUrl = "http://www.zixuexia.com/wp-content/themes/BlackMirror/assets/images";
        var fancyboxSwitcher = "1";
        var isHomePage = "1";//todo 标志
        var pagType = "number";
        var layoutType = "four";
        var themeUrl = "http://www.zixuexia.com/wp-content/themes/BlackMirror";
    </script>
</head>
<body>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js?ver=2.1.4"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js?ver=3.1.13"></script>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/fancybox/2.1.4/jquery.fancybox.min.js?ver=2.1.4"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    @*------------头部---------------*@
    <header class="header">
        <nav class="container">
            <div class="logo hidden-sm">
                <a href="../" class="common_logo">
                    <img src="@AppConst.OtherImagePath/xqw_logo.png">
                </a>
            </div>
            <div class="mobile-logo show-sm">
                <a href="../" class="common_logo">
                    <img src="@AppConst.OtherImagePath/xqw_logo.png">
                </a>
            </div>
            <ul class="header-menu">
            </ul>
            <div class="menu-button">
                <div class="nav-bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
        <div class="menu-wrap show-xs">
            <div class="mobile-menu">
                <ul class="mobile-menu-nav">
                </ul>
            </div>
        </div>
    </header>

    @RenderBody()

    @*------------尾部---------------*@
    <footer id="footer">
        <div class="container" style="position: relative; margin-top: 22px;" data-position="d8fa2f5b7b5689de">
            <div class="footer-theme hidden-xs">
                <span>自学视频教程平台</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="../Home/AboutUs" class="common_about" style="color:white" target="_blank">关于小青蛙商学院</a>
            </div>
            <ul class="footer-follow">
                <li class="follow-wechat">
                    <a>
                        <i class="czs-weixin"></i>
                    </a>
                    <div class="follow-wechat-popup">
                        <img src="@AppConst.OtherImagePath/xqw_vip.png " alt="wechat">
                    </div>
                </li>
                <li class="follow-qq">
                    <a href="tencent://AddContact/?fromId=50&amp;fromSubId=1&amp;subcmd=all&amp;uin=1315915446" target="_blank">
                        <i class="czs-qq"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
        </div>
        <div class="copyright">
            <div class="container">
                <p>
                    Copyright © 2013-2020&nbsp;&nbsp;- 全网最全自学视频教程平台 / 版本 V 1.0&nbsp;&nbsp;<span style="margin-right: 12px;" class="hidden-xs">
                        <a class="site-record" target="_blank" href="www.zixuexia.com" style="color: #818181;">
                            京ICP备100754号-01
                        </a>
                    </span>
                    <script>
                    </script>
                </p>
            </div>
        </div>
    </footer>
    <div class="scrollTop transition">
        <i class="czs-arrow-up-l"></i>
    </div>

    <li class="change-language hidden">
        <a id="StranLink" class="wencode">繁</a>
    </li>

    <div class="overlay"></div>

    <div class="backdrop transition"></div>

    <script>
        var userLocalInfo = {};
        
        $(function () {
            //加载二级分类列表
            loadCategory();
        });

        function loadCategory() {
            $.ajax({
                url: "../Category/GetAllACategoryList",
                dataType: "json",
                async: true,
                type: "get",
                success: function (result) {
                    var htmlstr = '<li><a href="/Home/Index" class="common_home">首页</a></li>';
                    $.each(result, function (i, item) {
                        var isactive = ('@ViewBag.ACategoryID' == item.ACategoryID) ? "color:white" : "";
                        htmlstr += '<li><a class="common_Acate" style="'+isactive+'" href="/Category/Index?acategoryid=' + item.ACategoryID + '" >' + item.ACategoryName + '</a></li>';
                    });
                    $(".header-menu").append(htmlstr);
                    $(".mobile-menu-nav").append(htmlstr);
                    registerClickEvent();
                }
            });
        }
        function saveClickLog(type, bussvalue, remark) {
            var param = {};
            param.clickType = type;
            param.bussiesValue = bussvalue;
            param.remark = remark;

            param.userIp = returnCitySN["cip"];
            param.userCityName = returnCitySN["cname"];
            $.ajax({
                url: "../Home/SaveClickTypeLog",
                dataType: "json",
                async: true,
                data: param,
                type: "post"
            });
        }

        function registerClickEvent() {
            $(".common_logo").click(function () {
                saveClickLog(1001);
            });

            $(".common_home").click(function () {
                saveClickLog(1002);
            });

            $(".common_Acate").click(function () {
                saveClickLog(1003, this.innerText);
            });

            $(".common_search").click(function () {
                saveClickLog(1004);
            });

             $(".common_about").click(function () {
                saveClickLog(1005);
            });
        }
    </script>
</body>
</html>