<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 小青蛙商学院</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/thirdstyle.css" type="text/css">
    <link rel="stylesheet" id="PrismCss-css" href="http://www.zixuexia.com/wp-content/themes/BlackMirror/assets/css/prism.css?ver=1.5.0" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/jquery.fancybox.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/layout.css" type="text/css">
</head>
<body>
    <section class="section">
        <header class="top header">
            <nav class="container">
                <div class="logo hidden-sm">
                    <a href="http://www.zixuexia.com" class="d-block">
                        <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/3011.png" alt="">
                    </a>
                </div>
                <div class="mobile-logo show-sm">
                    <a href="http://www.zixuexia.com" class="d-inline-block">
                        <img src="http://www.zixuexia.com/wp-content/uploads/2019/01/3012.png" alt="">
                    </a>
                </div>
                <ul class="header-menu">
                </ul>
                <div class="search-button cursor-pointer">
                    <i class="czs-search-l"></i>
                    <span class="d-inline-block transition opacity-0"><i class="czs-close-l"></i></span>
                </div>
                <div class="menu-button">
                    <div class="nav-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </nav>
            <div class="menu-wrap show-xs">
                <div class="mobile-menu">
                    <ul class="mobile-menu-nav">
                    </ul>
                </div>
            </div>
        </header>

        <div class="center">
            @RenderBody()
        </div>
        <div class="bottom">
            <p>&copy; @DateTime.Now.Year 版权所有- 小青蛙商学院</p>
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

        $(function () {
            //加载二级分类列表
            loadCategory()
        });

        function loadCategory() {
            $.ajax({
                url: "../Category/GetBCategoryList",    //请求的url地址
                dataType: "json",   //返回格式为json
                async: true, //请求是否异步，默认为异步，这也是ajax重要特性
                data: { "acategoryid": "" },    //参数值
                type: "GET",   //请求方式
                success: function (result) {
                    //请求成功时处理
                    var htmlstr = '';
                    $.each(result, function (i, item) {
                        htmlstr += '<li><a href="/Category/BIndex?bcategoryid=' + item.BCategoryID + '" >' + item.BCategoryName + '</a></li>';
                    });
                    $(".header-menu").append(htmlstr);
                    $(".mobile-menu-nav").append(htmlstr);
                }
            });
        }
    </script>
</body>

</html>
