@{
    ViewBag.Title = "商品详情页";

}

@using XQW.Model.Model;

@{
    var productDetail = ViewBag.ProductDetail;
    var hotProductList = ViewBag.HotProductList;
    var preNextProduct = ViewBag.PreNextProduct;
    var otherBuyProductList = ViewBag.OtherBuyProductList;
    var shopInfo = ViewBag.ShopInfo;

    <main class="container pt-xs-6" id="pjax-content">
        <div class="row">
            <div class="col-md-9 no-gutter-xs">
                <div id="main">
                    @*教程详情*@
                    <article class="article " id="post-297">
                        <div class="article-title">
                            <a href="../Product/ProductDetail?productid=@productDetail.ProductID">
                                @productDetail.ProductTitle
                            </a>
                        </div>
                        <div class="article-meta">
                            <span class="article-meta-time">
                                @productDetail.UpdateTime
                            </span>
                            <i class="czs-heart"></i>
                            <span class="count">
                                @productDetail.LikeCount
                            </span>&nbsp;
                            <i class="czs-comment"></i>
                            <a href="../Product/ProductDetail?productid=@productDetail.ProductID#respond"
                               class="article-meta-comment">@productDetail.CommentCount</a>
                            <i class="czs-eye">
                            </i> @productDetail.SeenCount&nbsp;
                            <!-- user edit -->
                            <div class="article-meta-tags">
                                <a href="http://localhost:9016/Category/Index?acategoryid=@productDetail.ACategoryID&bcategoryid=@productDetail.BCategoryID"
                                   rel="tag">@productDetail.BCategoryName</a>
                            </div>
                        </div>
                        <!-- <hr class="mb-6" style="border: 0;height: 1px;background: #ddd;">-->
                        <div class="article-body">
                            <p>
                                @foreach (string detailImageUrl in productDetail.DetailImageUrlList)
                                {
                                    <a href="@detailImageUrl" class="fancybox" rel="fancybox-group" title="">
                                        <img class="alignnone size-full wp-image-303 aligncenter" src="@detailImageUrl"
                                             alt=@productDetail.ProductSubTtile width="750" height="560">
                                    </a>
                                }
                            </p>
                            <p>
                                <a href="http://localhost:9017/others/xqw_vip.png" class="fancybox" rel="fancybox-group" title="">
                                    <img class="aligncenter wp-image-302 size-thumbnail"
                                         src="http://localhost:9017/others/xqw_vip.png"
                                         alt=@productDetail.ProductSubTtile title="微信扫码-小青蛙商学院" width="150" height="150">
                                </a>
                            </p>
                        </div>
                        <!-- copyright -->
                        <p class="article-copyright">
                            转载原创文章请注明，转载自:
                            <a href="http://localhost:9016/">
                                小青蛙商学院
                            </a> -
                            <a href="../Product/ProductDetail?productid=@productDetail.ProductID">
                                @productDetail.ProductSubTtile
                            </a>
                        </p>
                    </article>

                    @*上一篇下一篇*@
                    <section id="post-link">
                        <div class="md-6 post-link-previous">
                            上一篇: <a href="../Product/ProductDetail?productid=@preNextProduct[0].ProductID" rel="prev">@preNextProduct[0].ProductTitle</a>
                        </div>
                        <div class="md-6 post-link-next">
                            下一篇: <a href="../Product/ProductDetail?productid=@preNextProduct[1].ProductID" rel="next">@preNextProduct[1].ProductTitle</a>
                        </div>
                    </section>

                    @*前后3教程展示*@
                    <div class="related-post row-sm-up clear">
                        @foreach (var otherBuyProduct in otherBuyProductList)
                        {
                            <div class="col-md-4">
                                <div class="post post-style-card transition">
                                    <a class="post-img img-response" href="../Product/ProductDetail?productid=@otherBuyProduct.ProductID" style="background-image: url(@otherBuyProduct.HeaderImageUrl)">
                                    </a>
                                    <div class="post-top">
                                        <div class="post-title mb-1">
                                            <a href="../Product/ProductDetail?productid=@otherBuyProduct.ProductID">@otherBuyProduct.ProductTitle </a>
                                        </div>
                                        <div class="post-top-meta mb-3">
                                            <a class="post-category" href="http://localhost:9016/Category/Index?acategoryid=@otherBuyProduct.ACategoryID&bcategoryid=@otherBuyProduct.BCategoryID">
                                                @otherBuyProduct.BCategoryName
                                            </a>
                                            <span class="post-time">
                                                @otherBuyProduct.UpdateTime
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-3">
                                        <ul class="post-meta-bottom">
                                            <li class="post-meta-author">
                                                <a class="d-block" href="http://localhost:9016/" target="_blank">
                                                    <img src="http://localhost:9017/others/xqw_circle_logo.png"
                                                         class="avatar avatar-96" height="96" width="96">
                                                    <span class="d-inline-block">@shopInfo.ShopName</span>
                                                </a>
                                            </li>
                                            <li class="post-meta-view pull-right">
                                                <i class="czs-eye"></i> @otherBuyProduct.SeenCount
                                            </li>
                                            <li class="post-meta-comments pull-right">
                                                <i class="czs-comment"></i> @otherBuyProduct.CommentCount
                                            </li>
                                            <li class="post-meta-like pull-right">
                                                <i class="czs-heart"></i>
                                                <span class="count">
                                                    @otherBuyProduct.LikeCount
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @*评论区*@
                    <div class="comments" name="comments">
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">
                                留言 <small>
                                    <a rel="nofollow" id="cancel-comment-reply-link" href="/archives/297#respond" style="display:none;">取消回复</a>
                                </small>
                            </h3>
                            <form action="http://www.zixuexia.com/wp-comments-post.php" method="post" id="commentform" class="no-gutters comment-form">
                                <p class="comment-form-comment">
                                    <label for="comment">评论</label>
                                    <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
                                </p>
                                <div class="comment-form-author col-md-4 comment-input">
                                    <input id="author" name="author" placeholder="昵称" type="text" value="" size="30">
                                </div>
                                <div class="comment-form-email col-md-4 comment-input">
                                    <input id="email" name="email" placeholder="邮箱" type="text" value="" size="30">
                                </div>
                                <div class="comment-form-url col-md-4 comment-input">
                                    <input id="url" name="url" placeholder="网址" type="text" value="" size="30">
                                </div>
                                <p class="form-submit">
                                    <input name="submit" type="submit" id="submit" class="submit" value="确定">
                                    <input type="hidden" name="comment_post_ID" value="297" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                </p>
                            </form>
                        </div><!-- #respond -->
                        <div class="comments-title">
                            写下你的评论吧
                        </div>
                        <ul class="comments-list">
                        </ul>
                    </div>
                </div>
            </div>

            @*右侧栏*@
            <div class="col-md-3 ">
                <aside id="sidebar">
                    <div class="sidebar-wrap">
                        <div class="affix" style="width: 265px;">
                        </div>
                        <div class="sidebar-article">
                            @*公众号信息*@
                            <div class="widget widget-wechat" style="background-repeat: no-repeat;background-size: cover;background-position: center top;">
                                <div class="widget-title"><span></span></div>
                                <div class="widget-wechat-body">
                                    <div class="widget-wechat-img">
                                        <a href="http://localhost:9017/others/xqw_vip.png">
                                            <img src="http://localhost:9017/others/xqw_vip.png" alt="wechat" title="微信扫码-小青蛙商学院">
                                        </a>
                                    </div>
                                    <div class="widget-wechat-content">
                                        <h4 class="widget-wechat-title">@shopInfo.ShopName</h4>
                                        <p class="widget-wechat-account">微信：@shopInfo.WXNumber</p>
                                        <p class="widget-wechat-description">@shopInfo.Slogan</p>
                                    </div>
                                </div>
                            </div>

                            @*热门文章*@
                            <div id="widget-hotpost-5" class="widget widget-hotpost">
                                <div class="widget-title"><span>热门教程</span></div>
                                <ul class="widget-hotpost-image">
                                    @foreach (var hotProduct in hotProductList)
                                    {
                                        <a href="../Product/ProductDetail?productid=@hotProduct.ProductID" class="mask-animate widget-hotpost-image-item">
                                            <div class="recent-post-img">
                                                <img width="750" height="560" src="@hotProduct.HeaderImageUrl" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                                            </div>
                                            <div class="widget-hotpost-meta">
                                                <div class="widget-hotpost-image-title mb-1">@hotProduct.ProductName</div>
                                                <div style="font-size: 12px;">
                                                    <span class="d-inline-block">
                                                        <i class="czs-bookmark-l"></i>
                                                        @hotProduct.ProductName
                                                    </span>
                                                    <span class="d-inline-block pull-right">
                                                        @hotProduct.UpdateTime
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>
}