@{
    ViewBag.Title = "商品详情页";
}

@{
    var productDetail = ViewBag.ProductDetail;
    var hotProductList = ViewBag.HotProductList;
    var preNextProduct = ViewBag.PreNextProduct;
    var otherBuyProductList = ViewBag.OtherBuyProductList;
    var shopInfo = ViewBag.ShopInfo;

    <main class="container pt-xs-6" id="pjax-content">
        <div class="row">
            <div class="col-md-9 no-gutter-xs">
                <div id="main">
                    @*教程详情*@
                    <article class="article">
                        <div class="article-title">
                            @productDetail.ProductName
                        </div>
                        <div class="article-meta">
                            <span class="article-meta-time">
                                @productDetail.UpdateTime.ToString("yyyy-MM-dd")
                            </span>
                            <a class="article-meta-tags product_cate" data-catename="@productDetail.BCategoryName" href="../Category/Index?acategoryid=@productDetail.ACategoryID&bcategoryid=@productDetail.BCategoryID"
                               rel="tag">@productDetail.BCategoryName</a>
                        </div>
                        <div class="article-body">
                            <p>
                                @foreach (string detailImageUrl in productDetail.DetailImageUrlList)
                                {
                                    <a href="@detailImageUrl" class="fancybox" rel="fancybox-group" title="">
                                        <img class="alignnone size-full wp-image-303 aligncenter" src="@detailImageUrl"
                                             alt=@productDetail.ProductSubTtile width="750" height="560">
                                    </a>
                                }
                            </p>
                            <p>
                                <a href="../Home/VIP" class="fancybox product_wx" rel="fancybox-group" title="">
                                    <img class="aligncenter wp-image-302 size-thumbnail"
                                         src="@shopInfo.WXImageUrl"
                                         alt=@productDetail.ProductSubTtile title="微信扫码-@shopInfo.ShopName" width="150" height="150">
                                </a>
                            </p>
                        </div>
                    </article>

                    @*上一篇下一篇*@
                    <section id="post-link">
                        <div class="md-6 post-link-previous">
                            上一个: <a class="product_previous" data-pid="@preNextProduct[0].ProductID" href="../Product/ProductDetail?productid=@preNextProduct[0].ProductID" rel="prev">@preNextProduct[0].ProductName</a>
                        </div>
                        <div class="md-6 post-link-next">
                            下一个: <a class="product_next" data-pid="@preNextProduct[1].ProductID" href="../Product/ProductDetail?productid=@preNextProduct[1].ProductID" rel="next">@preNextProduct[1].ProductName</a>
                        </div>
                    </section>

                    @*前后3教程展示*@
                    <div class="related-post row-sm-up clear">
                        @foreach (var otherBuyProduct in otherBuyProductList)
                        {
                            <div class="col-md-4">
                                <div class="post post-style-card transition">
                                    <a class="post-img img-response product_recom"  data-pid="@otherBuyProduct.ProductID" href="../Product/ProductDetail?productid=@otherBuyProduct.ProductID" style="background-image: url(@otherBuyProduct.HeaderImageUrl);padding-bottom: 90%;">
                                    </a>
                                    <div class="post-top">
                                        <div class="post-title mb-1">
                                            <a class="product_recom" data-pid="@otherBuyProduct.ProductID" href="../Product/ProductDetail?productid=@otherBuyProduct.ProductID">@otherBuyProduct.ProductName </a>
                                        </div>
                                        <div class="post-top-meta mb-3">
                                            <a class="post-category product_recom_cate" data-catename="@otherBuyProduct.BCategoryName" href="../Category/Index?acategoryid=@otherBuyProduct.ACategoryID&bcategoryid=@otherBuyProduct.BCategoryID">
                                                @otherBuyProduct.BCategoryName
                                            </a>
                                            <span class="post-time">
                                                @otherBuyProduct.UpdateTime.ToString("yyyy-MM-dd")
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @*评论区*@
                    <div class="comments" name="comments">
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">
                                留言
                            </h3>
                            <div class="no-gutters comment-form">
                                <p class="comment-form-comment">
                                    @*<label for="comment">评论</label>*@
                                    <textarea id="commentcontent" style="height:100px;width:700px;" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
                                </p>
                                <div class="comment-form-author col-md-4 comment-input">
                                    <input id="nickname" placeholder="昵称" type="text" value="" size="30">
                                </div>
                                <div class="comment-form-email col-md-4 comment-input">
                                    <input id="contactno" placeholder="联系方式（电话/邮箱/微信/QQ均可）" type="text" value="" size="30">
                                </div>&nbsp;&nbsp;&nbsp;
                                <input type="button" class="submit" id="commitComment" value="提交">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*右侧栏*@
            <div class="col-md-3 " style="max-width:25%">
                <aside id="sidebar">
                    <div class="sidebar-wrap">
                        <div class="sidebar-article">
                            @*公众号信息*@
                            <div class="widget widget-wechat">
                                <div class="widget-title"><span class="vipdesc">官方微信：@shopInfo.WXNumber</span></div>
                                <div class="widget-wechat-body">
                                    <div class="widget-wechat-img">
                                        <a class="product_wx" href="../Home/VIP">
                                            <img src="@shopInfo.WXImageUrl" alt="wechat" title="微信扫码-@shopInfo.ShopName">
                                        </a>
                                    </div>
                                    <div class="widget-wechat-content" style="text-align:center">
                                        <p class="widget-wechat-description vipdesc">@shopInfo.Slogan</p>
                                    </div>
                                </div>
                            </div>

                            @*热门教程*@
                            <div id="widget-hotpost-5" class="widget widget-hotpost">
                                <div class="widget-title"><span>热门教程</span></div>
                                <ul class="widget-hotpost-image">
                                    @foreach (var hotProduct in hotProductList)
                                    {
                                        <a href="../Product/ProductDetail?productid=@hotProduct.ProductID" title="@hotProduct.ProductName" class="mask-animate widget-hotpost-image-item product_hot" data-pid="@hotProduct.ProductID">
                                            <div class="recent-post-img">
                                                <img width="750" height="560" src="@hotProduct.HeaderImageUrl" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
                                            </div>
                                        </a>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>
}
<script>
    $(document).ready(function () {

        $(".product_cate").click(function () {
            debugger;
            saveClickLog(1201, this.dataset.catename);
        });

        $(".product_previous").click(function () {
            saveClickLog(1202, this.dataset.pid);
        });

        $(".product_next").click(function () {
            saveClickLog(1203, this.dataset.pid);
        });

        $(".product_recom").click(function () {
            saveClickLog(1204, this.dataset.pid);
        });

        $(".product_wx").click(function () {
            saveClickLog(1205);
        });

        $(".product_hot").click(function () {
            saveClickLog(1206, this.dataset.pid);
        });

        $(".product_recom_cate").click(function () {
            saveClickLog(1207, this.dataset.catename);
        });
    });

    $("#commitComment").click(function () {
        debugger;
        var comment = $("#commentcontent").val();
        var contactno = $("#contactno").val();
        var nickname = $("#nickname").val();
        var productid = '@productDetail.ProductID';
        if (comment == "" || contactno == "" || nickname == "") {
            alert("留言相关内容不可为空！");
            return;
        }
        var param = {};
        param.CommentContent = comment;
        param.ContactNo = contactno;
        param.NickName = nickname;
        param.ProductID = productid;
        $.ajax({
            url: "../Product/CommitComment",
            dataType: "json",
            async: true,
            data: param,
            type: "post",
            success: function (result) {
                alert("提交成功！");

                $("#commentcontent").val("")
                $("#contactno").val("")
                $("#nickname").val("")
            }
        });
    });
</script>